# Chromatic tokens (optional for local runs)
# In CI, configure these as GitHub Action secrets:
# - CHROMATIC_PROJECT_TOKEN_CONSUMER
# - CHROMATIC_PROJECT_TOKEN_MERCHANT
# - CHROMATIC_PROJECT_TOKEN_POS

CHROMATIC_PROJECT_TOKEN_CONSUMER=
CHROMATIC_PROJECT_TOKEN_MERCHANT=
CHROMATIC_PROJECT_TOKEN_POS=
