:root {
  /* @tokens Colors - Primitives @presenter Color */
  --joe-primitives-colors-amber-100: #FEF3C7;
  --joe-primitives-colors-amber-200: #FDE68A;
  --joe-primitives-colors-amber-300: #FCD34D;
  --joe-primitives-colors-amber-400: #FBBF24;
  --joe-primitives-colors-amber-50: #FFFBEB;
  --joe-primitives-colors-amber-500: #F59E0B;
  --joe-primitives-colors-amber-600: #D97706;
  --joe-primitives-colors-amber-700: #B45309;
  --joe-primitives-colors-amber-800: #92400E;
  --joe-primitives-colors-amber-900: #78350F;
  --joe-primitives-colors-amber-950: #451A03;
  --joe-primitives-colors-black: #000000;
  --joe-primitives-colors-blue-100: #DBEAFE;
  --joe-primitives-colors-blue-200: #BFDBFE;
  --joe-primitives-colors-blue-300: #93C5FD;
  --joe-primitives-colors-blue-400: #60A5FA;
  --joe-primitives-colors-blue-50: #EFF6FF;
  --joe-primitives-colors-blue-500: #3B82F6;
  --joe-primitives-colors-blue-600: #2563EB;
  --joe-primitives-colors-blue-700: #1D4ED8;
  --joe-primitives-colors-blue-800: #1E40AF;
  --joe-primitives-colors-blue-900: #1E3A8A;
  --joe-primitives-colors-blue-950: #172554;
  --joe-primitives-colors-cyan-100: #CFFAFE;
  --joe-primitives-colors-cyan-200: #A5F3FC;
  --joe-primitives-colors-cyan-300: #67E8F9;
  --joe-primitives-colors-cyan-400: #22D3EE;
  --joe-primitives-colors-cyan-50: #ECFEFF;
  --joe-primitives-colors-cyan-500: #06B6D4;
  --joe-primitives-colors-cyan-600: #0891B2;
  --joe-primitives-colors-cyan-700: #0E7490;
  --joe-primitives-colors-cyan-800: #155E75;
  --joe-primitives-colors-cyan-900: #164E63;
  --joe-primitives-colors-cyan-950: #083344;
  --joe-primitives-colors-emerald-100: #D1FAE5;
  --joe-primitives-colors-emerald-200: #A7F3D0;
  --joe-primitives-colors-emerald-300: #6EE7B7;
  --joe-primitives-colors-emerald-400: #34D399;
  --joe-primitives-colors-emerald-50: #ECFDF5;
  --joe-primitives-colors-emerald-500: #10B981;
  --joe-primitives-colors-emerald-600: #059669;
  --joe-primitives-colors-emerald-700: #047857;
  --joe-primitives-colors-emerald-800: #065F46;
  --joe-primitives-colors-emerald-900: #064E3B;
  --joe-primitives-colors-emerald-950: #022C22;
  --joe-primitives-colors-fuchsia-100: #FAE8FF;
  --joe-primitives-colors-fuchsia-200: #F5D0FE;
  --joe-primitives-colors-fuchsia-300: #F0ABFC;
  --joe-primitives-colors-fuchsia-400: #E879F9;
  --joe-primitives-colors-fuchsia-50: #FDF4FF;
  --joe-primitives-colors-fuchsia-500: #D946EF;
  --joe-primitives-colors-fuchsia-600: #C026D3;
  --joe-primitives-colors-fuchsia-700: #A21CAF;
  --joe-primitives-colors-fuchsia-800: #86198F;
  --joe-primitives-colors-fuchsia-900: #701A75;
  --joe-primitives-colors-fuchsia-950: #4A044E;
  --joe-primitives-colors-gray-100: #F3F4F6;
  --joe-primitives-colors-gray-200: #E5E7EB;
  --joe-primitives-colors-gray-300: #D1D5DB;
  --joe-primitives-colors-gray-400: #9CA3AF;
  --joe-primitives-colors-gray-50: #F9FAFB;
  --joe-primitives-colors-gray-500: #6B7280;
  --joe-primitives-colors-gray-600: #4B5563;
  --joe-primitives-colors-gray-700: #374151;
  --joe-primitives-colors-gray-800: #1F2937;
  --joe-primitives-colors-gray-900: #111827;
  --joe-primitives-colors-gray-950: #030712;
  --joe-primitives-colors-green-100: #DCFCE7;
  --joe-primitives-colors-green-200: #BBF7D0;
  --joe-primitives-colors-green-300: #86EFAC;
  --joe-primitives-colors-green-400: #4ADE80;
  --joe-primitives-colors-green-50: #F0FDF4;
  --joe-primitives-colors-green-500: #22C55E;
  --joe-primitives-colors-green-600: #16A34A;
  --joe-primitives-colors-green-700: #15803D;
  --joe-primitives-colors-green-800: #166534;
  --joe-primitives-colors-green-900: #14532D;
  --joe-primitives-colors-green-950: #052E16;
  --joe-primitives-colors-grey-100: #F5F5F5;
  --joe-primitives-colors-grey-200: #E5E5E5;
  --joe-primitives-colors-grey-300: #D4D4D4;
  --joe-primitives-colors-grey-400: #A3A3A3;
  --joe-primitives-colors-grey-50: #FAFAFA;
  --joe-primitives-colors-grey-500: #737373;
  --joe-primitives-colors-grey-600: #525252;
  --joe-primitives-colors-grey-700: #404040;
  --joe-primitives-colors-grey-800: #262626;
  --joe-primitives-colors-grey-900: #171717;
  --joe-primitives-colors-indigo-100: #E0E7FF;
  --joe-primitives-colors-indigo-200: #C7D2FE;
  --joe-primitives-colors-indigo-300: #A5B4FC;
  --joe-primitives-colors-indigo-400: #818CF8;
  --joe-primitives-colors-indigo-50: #EEF2FF;
  --joe-primitives-colors-indigo-500: #6366F1;
  --joe-primitives-colors-indigo-600: #4F46E5;
  --joe-primitives-colors-indigo-700: #4338CA;
  --joe-primitives-colors-indigo-800: #3730A3;
  --joe-primitives-colors-indigo-900: #312E81;
  --joe-primitives-colors-indigo-950: #1E1B4B;
  --joe-primitives-colors-lime-100: #ECFCCB;
  --joe-primitives-colors-lime-200: #D9F99D;
  --joe-primitives-colors-lime-300: #BEF264;
  --joe-primitives-colors-lime-400: #A3E635;
  --joe-primitives-colors-lime-50: #F7FEE7;
  --joe-primitives-colors-lime-500: #84CC16;
  --joe-primitives-colors-lime-600: #65A30D;
  --joe-primitives-colors-lime-700: #4D7C0F;
  --joe-primitives-colors-lime-800: #3F6212;
  --joe-primitives-colors-lime-900: #365314;
  --joe-primitives-colors-lime-950: #1A2E05;
  --joe-primitives-colors-neutral-100: #F5F5F5;
  --joe-primitives-colors-neutral-200: #E5E5E5;
  --joe-primitives-colors-neutral-300: #D4D4D4;
  --joe-primitives-colors-neutral-400: #A3A3A3;
  --joe-primitives-colors-neutral-50: #FAFAFA;
  --joe-primitives-colors-neutral-500: #737373;
  --joe-primitives-colors-neutral-600: #525252;
  --joe-primitives-colors-neutral-700: #404040;
  --joe-primitives-colors-neutral-800: #262626;
  --joe-primitives-colors-neutral-900: #171717;
  --joe-primitives-colors-neutral-950: #0A0A0A;
  --joe-primitives-colors-orange-100: #FFEDD5;
  --joe-primitives-colors-orange-200: #FED7AA;
  --joe-primitives-colors-orange-300: #FDBA74;
  --joe-primitives-colors-orange-400: #FB923C;
  --joe-primitives-colors-orange-50: #FFF7ED;
  --joe-primitives-colors-orange-500: #F97316;
  --joe-primitives-colors-orange-600: #EA580C;
  --joe-primitives-colors-orange-700: #C2410C;
  --joe-primitives-colors-orange-800: #9A3412;
  --joe-primitives-colors-orange-900: #7C2D12;
  --joe-primitives-colors-orange-950: #431407;
  --joe-primitives-colors-pink-100: #FCE7F3;
  --joe-primitives-colors-pink-200: #FBCFE8;
  --joe-primitives-colors-pink-300: #F9A8D4;
  --joe-primitives-colors-pink-400: #F472B6;
  --joe-primitives-colors-pink-50: #FDF2F8;
  --joe-primitives-colors-pink-500: #EC4899;
  --joe-primitives-colors-pink-600: #DB2777;
  --joe-primitives-colors-pink-700: #BE185D;
  --joe-primitives-colors-pink-800: #9D174D;
  --joe-primitives-colors-pink-900: #831843;
  --joe-primitives-colors-pink-950: #500724;
  --joe-primitives-colors-primitives-colors-joeBrandGreen-100: #F0EDD7;
  --joe-primitives-colors-primitives-colors-joeBrandGreen-200: #E2DEB4;
  --joe-primitives-colors-primitives-colors-joeBrandGreen-300: #CFC987;
  --joe-primitives-colors-primitives-colors-joeBrandGreen-400: #BAB561;
  --joe-primitives-colors-primitives-colors-joeBrandGreen-50: #F8F6ED;
  --joe-primitives-colors-primitives-colors-joeBrandGreen-500: #9F9A43;
  --joe-primitives-colors-primitives-colors-joeBrandGreen-600: #7E7B32;
  --joe-primitives-colors-primitives-colors-joeBrandGreen-700: #61612A;
  --joe-primitives-colors-primitives-colors-joeBrandGreen-800: #4E4D26;
  --joe-primitives-colors-primitives-colors-joeBrandGreen-900: #434324;
  --joe-primitives-colors-primitives-colors-joeBrandGreen-950: #252610;
  --joe-primitives-colors-primitives-colors-joeBrandOrange-100: #F3E8D2;
  --joe-primitives-colors-primitives-colors-joeBrandOrange-200: #E6D0A1;
  --joe-primitives-colors-primitives-colors-joeBrandOrange-300: #D9B470;
  --joe-primitives-colors-primitives-colors-joeBrandOrange-400: #D09E4F;
  --joe-primitives-colors-primitives-colors-joeBrandOrange-50: #FBF8EF;
  --joe-primitives-colors-primitives-colors-joeBrandOrange-500: #C6823A;
  --joe-primitives-colors-primitives-colors-joeBrandOrange-600: #B66A32;
  --joe-primitives-colors-primitives-colors-joeBrandOrange-700: #924D2B;
  --joe-primitives-colors-primitives-colors-joeBrandOrange-800: #783D28;
  --joe-primitives-colors-primitives-colors-joeBrandOrange-900: #633424;
  --joe-primitives-colors-primitives-colors-joeBrandOrange-950: #381A10;
  --joe-primitives-colors-purple-100: #F3E8FF;
  --joe-primitives-colors-purple-200: #E9D5FF;
  --joe-primitives-colors-purple-300: #D8B4FE;
  --joe-primitives-colors-purple-400: #C084FC;
  --joe-primitives-colors-purple-50: #FAF5FF;
  --joe-primitives-colors-purple-500: #A855F7;
  --joe-primitives-colors-purple-600: #9333EA;
  --joe-primitives-colors-purple-700: #7E22CE;
  --joe-primitives-colors-purple-800: #6B21A8;
  --joe-primitives-colors-purple-900: #581C87;
  --joe-primitives-colors-purple-950: #3B0764;
  --joe-primitives-colors-red-100: #FFE2E2;
  --joe-primitives-colors-red-200: #FECACA;
  --joe-primitives-colors-red-300: #FCA5A5;
  --joe-primitives-colors-red-400: #F87171;
  --joe-primitives-colors-red-50: #FEF2F2;
  --joe-primitives-colors-red-500: #EF4444;
  --joe-primitives-colors-red-600: #DC2626;
  --joe-primitives-colors-red-700: #B91C1C;
  --joe-primitives-colors-red-800: #991B1B;
  --joe-primitives-colors-red-900: #7F1D1D;
  --joe-primitives-colors-red-950: #450A0A;
  --joe-primitives-colors-rose-100: #FFE4E6;
  --joe-primitives-colors-rose-200: #FECDD3;
  --joe-primitives-colors-rose-300: #FDA4AF;
  --joe-primitives-colors-rose-400: #FB7185;
  --joe-primitives-colors-rose-50: #FFF1F2;
  --joe-primitives-colors-rose-500: #F43F5E;
  --joe-primitives-colors-rose-600: #E11D48;
  --joe-primitives-colors-rose-700: #BE123C;
  --joe-primitives-colors-rose-800: #9F1239;
  --joe-primitives-colors-rose-900: #881337;
  --joe-primitives-colors-rose-950: #4C0519;
  --joe-primitives-colors-sky-100: #E0F2FE;
  --joe-primitives-colors-sky-200: #BAE6FD;
  --joe-primitives-colors-sky-300: #7DD3FC;
  --joe-primitives-colors-sky-400: #38BDF8;
  --joe-primitives-colors-sky-50: #F0F9FF;
  --joe-primitives-colors-sky-500: #0EA5E9;
  --joe-primitives-colors-sky-600: #0284C7;
  --joe-primitives-colors-sky-700: #0369A1;
  --joe-primitives-colors-sky-800: #075985;
  --joe-primitives-colors-sky-900: #0C4A6E;
  --joe-primitives-colors-sky-950: #082F49;
  --joe-primitives-colors-slate-100: #F1F5F9;
  --joe-primitives-colors-slate-200: #E2E8F0;
  --joe-primitives-colors-slate-300: #CBD5E1;
  --joe-primitives-colors-slate-400: #94A3B8;
  --joe-primitives-colors-slate-50: #F8FAFC;
  --joe-primitives-colors-slate-500: #64748B;
  --joe-primitives-colors-slate-600: #475569;
  --joe-primitives-colors-slate-700: #334155;
  --joe-primitives-colors-slate-800: #1E293B;
  --joe-primitives-colors-slate-900: #0F172A;
  --joe-primitives-colors-slate-950: #020617;
  --joe-primitives-colors-stone-100: #F5F5F4;
  --joe-primitives-colors-stone-200: #E7E5E4;
  --joe-primitives-colors-stone-300: #D6D3D1;
  --joe-primitives-colors-stone-400: #A8A29E;
  --joe-primitives-colors-stone-50: #FAFAF9;
  --joe-primitives-colors-stone-500: #78716C;
  --joe-primitives-colors-stone-600: #57534E;
  --joe-primitives-colors-stone-700: #44403C;
  --joe-primitives-colors-stone-800: #292524;
  --joe-primitives-colors-stone-900: #1C1917;
  --joe-primitives-colors-stone-950: #0C0A09;
  --joe-primitives-colors-teal-100: #CCFBF1;
  --joe-primitives-colors-teal-200: #99F6E4;
  --joe-primitives-colors-teal-300: #5EEAD4;
  --joe-primitives-colors-teal-400: #2DD4BF;
  --joe-primitives-colors-teal-50: #F0FDFA;
  --joe-primitives-colors-teal-500: #14B8A6;
  --joe-primitives-colors-teal-600: #0D9488;
  --joe-primitives-colors-teal-700: #0F766E;
  --joe-primitives-colors-teal-800: #115E59;
  --joe-primitives-colors-teal-900: #134E4A;
  --joe-primitives-colors-teal-950: #042F2E;
  --joe-primitives-colors-violet-100: #EDE9FE;
  --joe-primitives-colors-violet-200: #DDD6FE;
  --joe-primitives-colors-violet-300: #C4B5FD;
  --joe-primitives-colors-violet-400: #A78BFA;
  --joe-primitives-colors-violet-50: #F5F3FF;
  --joe-primitives-colors-violet-500: #8B5CF6;
  --joe-primitives-colors-violet-600: #7C3AED;
  --joe-primitives-colors-violet-700: #6D28D9;
  --joe-primitives-colors-violet-800: #5B21B6;
  --joe-primitives-colors-violet-900: #4C1D95;
  --joe-primitives-colors-violet-950: #2E1065;
  --joe-primitives-colors-white: #FFFFFF;
  --joe-primitives-colors-yellow-100: #FEF9C3;
  --joe-primitives-colors-yellow-200: #FEF08A;
  --joe-primitives-colors-yellow-300: #FDE047;
  --joe-primitives-colors-yellow-400: #FACC15;
  --joe-primitives-colors-yellow-50: #FEFCE8;
  --joe-primitives-colors-yellow-500: #EAB308;
  --joe-primitives-colors-yellow-600: #CA8A04;
  --joe-primitives-colors-yellow-700: #A16207;
  --joe-primitives-colors-yellow-800: #854D0E;
  --joe-primitives-colors-yellow-900: #713F12;
  --joe-primitives-colors-yellow-950: #422006;
  --joe-primitives-colors-zinc-100: #F4F4F5;
  --joe-primitives-colors-zinc-200: #E4E4E7;
  --joe-primitives-colors-zinc-300: #D4D4D8;
  --joe-primitives-colors-zinc-400: #A1A1AA;
  --joe-primitives-colors-zinc-50: #FAFAFA;
  --joe-primitives-colors-zinc-500: #71717A;
  --joe-primitives-colors-zinc-600: #52525B;
  --joe-primitives-colors-zinc-700: #3F3F46;
  --joe-primitives-colors-zinc-800: #27272A;
  --joe-primitives-colors-zinc-900: #18181B;
  --joe-primitives-colors-zinc-950: #09090B;
  /* @tokens-end */
  /* @tokens Colors - Semantic @presenter Color */
  --joe-semantic-color-2xl-color: #000000;
  --joe-semantic-color-2xs-color: #000000;
  --joe-semantic-color-action-destructive: #EF4444;
  --joe-semantic-color-action-destructiveHover: #DC2626;
  --joe-semantic-color-action-ghost: transparent;
  --joe-semantic-color-action-ghostHover: #F5F5F5;
  --joe-semantic-color-action-primary: #3B82F6;
  --joe-semantic-color-action-primaryActive: #1D4ED8;
  --joe-semantic-color-action-primaryDisabled: #BFDBFE;
  --joe-semantic-color-action-primaryHover: #2563EB;
  --joe-semantic-color-action-secondary: #E5E5E5;
  --joe-semantic-color-action-secondaryHover: #D4D4D4;
  --joe-semantic-color-background-default: #FFFFFF;
  --joe-semantic-color-background-muted: #F5F5F5;
  --joe-semantic-color-background-surface: #FFFFFF;
  --joe-semantic-color-border-default: #E5E5E5;
  --joe-semantic-color-border-disabled: #E5E5E5;
  --joe-semantic-color-border-focus: #3B82F6;
  --joe-semantic-color-border-strong: #D4D4D4;
  --joe-semantic-color-card-card: #FFFFFF;
  --joe-semantic-color-focus-ring: #D4D4D4;
  --joe-semantic-color-focus-ring-error: #FCA5A5;
  --joe-semantic-color-general-accent: #F5F5F5;
  --joe-semantic-color-general-border: #E5E5E5;
  --joe-semantic-color-general-destructive: #DC2626;
  --joe-semantic-color-general-input: #FFFFFF;
  --joe-semantic-color-general-muted: #F5F5F5;
  --joe-semantic-color-general-primary: #171717;
  --joe-semantic-color-general-secondary: #F5F5F5;
  --joe-semantic-color-lg-color: #000000;
  --joe-semantic-color-md-color: #000000;
  --joe-semantic-color-obra-shadcn-docs-obra-shadcn-ui-docs-1: #BFDBFE;
  --joe-semantic-color-obra-shadcn-docs-obra-shadcn-ui-docs-2: #FEF9C3;
  --joe-semantic-color-popover-popover: #000000;
  --joe-semantic-color-sidebar-sidebar: #FAFAFA;
  --joe-semantic-color-sidebar-sidebar-accent: #F5F5F5;
  --joe-semantic-color-sidebar-sidebar-border: #E5E5E5;
  --joe-semantic-color-sidebar-sidebar-primary: #171717;
  --joe-semantic-color-sidebar-sidebar-ring: #D4D4D4;
  --joe-semantic-color-sidebar-unofficial-sidebar-muted: #737373;
  --joe-semantic-color-sm-color: #000000;
  --joe-semantic-color-status-error: #EF4444;
  --joe-semantic-color-status-errorLight: #FFE2E2;
  --joe-semantic-color-status-info: #3B82F6;
  --joe-semantic-color-status-infoLight: #DBEAFE;
  --joe-semantic-color-status-success: #22C55E;
  --joe-semantic-color-status-successLight: #DCFCE7;
  --joe-semantic-color-status-warning: #EAB308;
  --joe-semantic-color-status-warningLight: #FEF9C3;
  --joe-semantic-color-text-card-card-foreground: #0A0A0A;
  --joe-semantic-color-text-disabled: #A3A3A3;
  --joe-semantic-color-text-general-accent-foreground: #171717;
  --joe-semantic-color-text-general-destructive-foreground: #FFFFFF;
  --joe-semantic-color-text-general-foreground: #0A0A0A;
  --joe-semantic-color-text-inverse: #FFFFFF;
  --joe-semantic-color-text-popover-popover-foreground: #FFFFFF;
  --joe-semantic-color-text-primary: #FAFAFA;
  --joe-semantic-color-text-secondary: #737373;
  --joe-semantic-color-text-sidebar-sidebar-accent-foreground: #171717;
  --joe-semantic-color-text-sidebar-sidebar-foreground: #404040;
  --joe-semantic-color-text-tertiary: #737373;
  --joe-semantic-color-text-unofficial-destructive-text: #DC2626;
  --joe-semantic-color-text-unofficial-foreground-alt: #404040;
  --joe-semantic-color-text-unofficial-ghost-foreground: #404040;
  --joe-semantic-color-unofficial-accent-0: #FAFAFA;
  --joe-semantic-color-unofficial-accent-2: #E5E5E5;
  --joe-semantic-color-unofficial-accent-3: #D4D4D4;
  --joe-semantic-color-unofficial-backdrop: #000000;
  --joe-semantic-color-unofficial-border-0: #FAFAFA;
  --joe-semantic-color-unofficial-border-1: #F5F5F5;
  --joe-semantic-color-unofficial-border-3: #D4D4D4;
  --joe-semantic-color-unofficial-border-4: #A3A3A3;
  --joe-semantic-color-unofficial-border-5: #737373;
  --joe-semantic-color-unofficial-contrast-DEPRECATED: #000000;
  --joe-semantic-color-unofficial-destructive-border: #EF4444;
  --joe-semantic-color-unofficial-destructive-subtle: #FEF2F2;
  --joe-semantic-color-unofficial-ghost: #FFFFFF;
  --joe-semantic-color-unofficial-ghost-hover: #000000;
  --joe-semantic-color-unofficial-mid-DEPRECATED: #737373;
  --joe-semantic-color-unofficial-mid-alt: #525252;
  --joe-semantic-color-unofficial-outline: #FFFFFF;
  --joe-semantic-color-unofficial-outline-active: #000000;
  --joe-semantic-color-unofficial-outline-hover: #000000;
  --joe-semantic-color-unofficial-primary-hover: #404040;
  --joe-semantic-color-unofficial-secondary-hover: #FAFAFA;
  --joe-semantic-color-xl-color: #000000;
  --joe-semantic-color-xs-color: #000000;
  /* @tokens-end */
  /* @tokens Spacing @presenter Spacing */
  --joe-primitives-space-0: 0px;
  --joe-primitives-space-0-5: 2px;
  --joe-primitives-space-0-75: 3px;
  --joe-primitives-space-1: 4px;
  --joe-primitives-space-1-25: 5px;
  --joe-primitives-space-1-5: 6px;
  --joe-primitives-space-10: 40px;
  --joe-primitives-space-11: 44px;
  --joe-primitives-space-12: 48px;
  --joe-primitives-space-14: 56px;
  --joe-primitives-space-16: 64px;
  --joe-primitives-space-2: 8px;
  --joe-primitives-space-2-5: 10px;
  --joe-primitives-space-20: 80px;
  --joe-primitives-space-24: 96px;
  --joe-primitives-space-28: 112px;
  --joe-primitives-space-3: 12px;
  --joe-primitives-space-3-5: 14px;
  --joe-primitives-space-32: 128px;
  --joe-primitives-space-36: 144px;
  --joe-primitives-space-4: 16px;
  --joe-primitives-space-40: 160px;
  --joe-primitives-space-44: 176px;
  --joe-primitives-space-48: 192px;
  --joe-primitives-space-5: 20px;
  --joe-primitives-space-52: 208px;
  --joe-primitives-space-56: 224px;
  --joe-primitives-space-6: 24px;
  --joe-primitives-space-60: 240px;
  --joe-primitives-space-64: 256px;
  --joe-primitives-space-7: 28px;
  --joe-primitives-space-72: 288px;
  --joe-primitives-space-8: 32px;
  --joe-primitives-space-80: 320px;
  --joe-primitives-space-9: 36px;
  --joe-primitives-space-96: 384px;
  --joe-primitives-space-infinite: 9999px;
  --joe-primitives-space-l: 1.5rem;
  --joe-primitives-space-m: 1rem;
  --joe-primitives-space-s: 0.75rem;
  --joe-primitives-space-xl: 2rem;
  --joe-primitives-space-xs: 0.5rem;
  --joe-primitives-space-xxs: 0.25rem;
  /* @tokens-end */
  /* @tokens Border Radius @presenter BorderRadius */
  --joe-primitives-radii-full: 9999px;
  --joe-primitives-radii-l: 0.75rem;
  --joe-primitives-radii-m: 0.5rem;
  --joe-primitives-radii-radius-10: 10px;
  --joe-primitives-radii-radius-12: 12px;
  --joe-primitives-radii-radius-16: 16px;
  --joe-primitives-radii-radius-2: 2px;
  --joe-primitives-radii-radius-24: 24px;
  --joe-primitives-radii-radius-32: 32px;
  --joe-primitives-radii-radius-4: 4px;
  --joe-primitives-radii-radius-6: 6px;
  --joe-primitives-radii-radius-8: 8px;
  --joe-primitives-radii-radius-infinite: 9999px;
  --joe-primitives-radii-s: 0.375rem;
  --joe-primitives-radii-xs: 0.25rem;
  /* @tokens-end */
  /* @tokens Font Size @presenter FontSize */
  --joe-primitives-fontSizes-body1: 1rem;
  --joe-primitives-fontSizes-body2: 0.875rem;
  --joe-primitives-fontSizes-body3: 0.75rem;
  --joe-primitives-fontSizes-heading1: 1.75rem;
  --joe-primitives-fontSizes-heading2: 1.5rem;
  --joe-primitives-fontSizes-heading3: 1.25rem;
  --joe-primitives-fontSizes-heading4: 1.125rem;
  /* @tokens-end */
  /* @tokens Font Weight @presenter FontWeight */
  --joe-primitives-fontWeights-bold: 700;
  --joe-primitives-fontWeights-medium: 500;
  --joe-primitives-fontWeights-normal: 400;
  --joe-primitives-fontWeights-semiBold: 600;
  /* @tokens-end */
  /* @tokens Line Height @presenter LineHeight */
  --joe-primitives-lineHeights-body1: 1.5rem;
  --joe-primitives-lineHeights-body2: 1.25rem;
  --joe-primitives-lineHeights-body3: 1.125rem;
  --joe-primitives-lineHeights-heading1: 2rem;
  --joe-primitives-lineHeights-heading2: 1.75rem;
  /* @tokens-end */
  /* @tokens Font Family @presenter FontFamily */
  --joe-primitives-fonts-sansSerif: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --joe-primitives-fonts-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  /* @tokens-end */
}
