:root {
  /* @tokens Colors - Primitives @presenter Color */
  --joe-primitives-colors-black: #171717;
  --joe-primitives-colors-blue-100: #EFF6FF;
  --joe-primitives-colors-blue-200: #BFDBFE;
  --joe-primitives-colors-blue-500: #3B82F6;
  --joe-primitives-colors-blue-600: #2563EB;
  --joe-primitives-colors-blue-700: #1D4ED8;
  --joe-primitives-colors-green-100: #F0FDF4;
  --joe-primitives-colors-green-500: #22C55E;
  --joe-primitives-colors-grey-100: #F5F5F5;
  --joe-primitives-colors-grey-200: #E5E5E5;
  --joe-primitives-colors-grey-300: #D4D4D4;
  --joe-primitives-colors-grey-400: #A3A3A3;
  --joe-primitives-colors-grey-50: #FAFAFA;
  --joe-primitives-colors-grey-500: #737373;
  --joe-primitives-colors-grey-600: #525252;
  --joe-primitives-colors-grey-700: #404040;
  --joe-primitives-colors-grey-800: #262626;
  --joe-primitives-colors-grey-900: #171717;
  --joe-primitives-colors-red-100: #FEF2F2;
  --joe-primitives-colors-red-500: #EF4444;
  --joe-primitives-colors-red-600: #DC2626;
  --joe-primitives-colors-white: #FFFFFF;
  --joe-primitives-colors-yellow-100: #FEFCE8;
  --joe-primitives-colors-yellow-500: #EAB308;
  /* @tokens-end */
  /* @tokens Colors - Semantic @presenter Color */
  --joe-semantic-color-action-destructive: #EF4444;
  --joe-semantic-color-action-destructiveHover: #DC2626;
  --joe-semantic-color-action-ghost: transparent;
  --joe-semantic-color-action-ghostHover: #F5F5F5;
  --joe-semantic-color-action-primary: #3B82F6;
  --joe-semantic-color-action-primaryActive: #1D4ED8;
  --joe-semantic-color-action-primaryDisabled: #BFDBFE;
  --joe-semantic-color-action-primaryHover: #2563EB;
  --joe-semantic-color-action-secondary: #E5E5E5;
  --joe-semantic-color-action-secondaryHover: #D4D4D4;
  --joe-semantic-color-background-default: #FFFFFF;
  --joe-semantic-color-background-muted: #F5F5F5;
  --joe-semantic-color-background-surface: #FAFAFA;
  --joe-semantic-color-border-default: #E5E5E5;
  --joe-semantic-color-border-disabled: #E5E5E5;
  --joe-semantic-color-border-focus: #3B82F6;
  --joe-semantic-color-border-strong: #D4D4D4;
  --joe-semantic-color-status-error: #EF4444;
  --joe-semantic-color-status-errorLight: #FEF2F2;
  --joe-semantic-color-status-info: #3B82F6;
  --joe-semantic-color-status-infoLight: #EFF6FF;
  --joe-semantic-color-status-success: #22C55E;
  --joe-semantic-color-status-successLight: #F0FDF4;
  --joe-semantic-color-status-warning: #EAB308;
  --joe-semantic-color-status-warningLight: #FEFCE8;
  --joe-semantic-color-text-disabled: #A3A3A3;
  --joe-semantic-color-text-inverse: #FFFFFF;
  --joe-semantic-color-text-primary: #171717;
  --joe-semantic-color-text-secondary: #404040;
  --joe-semantic-color-text-tertiary: #737373;
  /* @tokens-end */
  /* @tokens Spacing @presenter Spacing */
  --joe-primitives-space-l: 1.5rem;
  --joe-primitives-space-m: 1rem;
  --joe-primitives-space-s: 0.75rem;
  --joe-primitives-space-xl: 2rem;
  --joe-primitives-space-xs: 0.5rem;
  --joe-primitives-space-xxs: 0.25rem;
  /* @tokens-end */
  /* @tokens Border Radius @presenter BorderRadius */
  --joe-primitives-radii-full: 9999px;
  --joe-primitives-radii-l: 0.75rem;
  --joe-primitives-radii-m: 0.5rem;
  --joe-primitives-radii-s: 0.375rem;
  --joe-primitives-radii-xs: 0.25rem;
  /* @tokens-end */
  /* @tokens Font Size @presenter FontSize */
  --joe-primitives-fontSizes-body1: 1rem;
  --joe-primitives-fontSizes-body2: 0.875rem;
  --joe-primitives-fontSizes-body3: 0.75rem;
  --joe-primitives-fontSizes-heading1: 1.75rem;
  --joe-primitives-fontSizes-heading2: 1.5rem;
  --joe-primitives-fontSizes-heading3: 1.25rem;
  --joe-primitives-fontSizes-heading4: 1.125rem;
  /* @tokens-end */
  /* @tokens Font Weight @presenter FontWeight */
  --joe-primitives-fontWeights-bold: 700;
  --joe-primitives-fontWeights-medium: 500;
  --joe-primitives-fontWeights-normal: 400;
  --joe-primitives-fontWeights-semiBold: 600;
  /* @tokens-end */
  /* @tokens Line Height @presenter LineHeight */
  --joe-primitives-lineHeights-body1: 1.5rem;
  --joe-primitives-lineHeights-body2: 1.25rem;
  --joe-primitives-lineHeights-body3: 1.125rem;
  --joe-primitives-lineHeights-heading1: 2rem;
  --joe-primitives-lineHeights-heading2: 1.75rem;
  /* @tokens-end */
  /* @tokens Font Family @presenter FontFamily */
  --joe-primitives-fonts-sansSerif: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --joe-primitives-fonts-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  /* @tokens-end */
}
